@import "bootstrap";

/*footer*/
 footer{
   margin-top: 45px;
   padding-top: 5px;
   border-top: 1px solid #eaeaea;
   color: #999;
 }
footer small {
  float: left;
}

footer right{
  float: right;
}

/*error forms*/
#error_explanarion{
   color: #f00;
  ul{
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_error{
 @expend .control-group;
  @expend .error;
}


search_bar{
  margin: 10px 50px 10px 0px;
}
.ctrl{
 width:50px;
}

textarea
{
  resize: none;
  width:400px;
  height:100px;
}
p {
  width:400pxx;
}